-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "employeeId" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "nameAr" TEXT NOT NULL DEFAULT '',
    "role" TEXT NOT NULL DEFAULT 'MONITOR',
    "reserveId" TEXT NOT NULL DEFAULT '',
    "reserve" TEXT,
    "reserveAr" TEXT,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "certifications" TEXT,
    "allowedSections" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "Patrol" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "code" TEXT,
    "zone" TEXT,
    "zoneAr" TEXT,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "vesselId" TEXT,
    "areaCovered" REAL,
    "duration" REAL,
    "weather" TEXT,
    "observations" TEXT,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "startTime" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "endTime" DATETIME,
    "routeCoordinates" TEXT,
    "incidentsReported" INTEGER NOT NULL DEFAULT 0,
    CONSTRAINT "Patrol_vesselId_fkey" FOREIGN KEY ("vesselId") REFERENCES "Vessel" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Vessel" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "code" TEXT,
    "name" TEXT NOT NULL,
    "nameAr" TEXT,
    "regNumber" TEXT NOT NULL,
    "type" TEXT,
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "fuelLevel" REAL NOT NULL DEFAULT 100,
    "healthScore" REAL NOT NULL DEFAULT 100,
    "engineHours" REAL NOT NULL DEFAULT 0,
    "lastService" DATETIME
);

-- CreateTable
CREATE TABLE "Violation" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "code" TEXT,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "officerId" TEXT NOT NULL,
    "locationLat" REAL NOT NULL,
    "locationLng" REAL NOT NULL,
    "types" TEXT,
    "typeAr" TEXT,
    "severity" TEXT NOT NULL DEFAULT 'LOW',
    "violatorName" TEXT,
    "vesselName" TEXT,
    "actionTaken" TEXT,
    "fineAmount" REAL,
    "status" TEXT NOT NULL DEFAULT 'NEW',
    "location" TEXT,
    "locationAr" TEXT,
    "description" TEXT,
    "patrolId" TEXT,
    CONSTRAINT "Violation_officerId_fkey" FOREIGN KEY ("officerId") REFERENCES "User" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "Violation_patrolId_fkey" FOREIGN KEY ("patrolId") REFERENCES "Patrol" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "Survey" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "observerId" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "depthRange" TEXT,
    "visibility" REAL,
    "waterTemp" REAL,
    "ph" REAL,
    "salinity" REAL,
    "healthScore" REAL,
    CONSTRAINT "Survey_observerId_fkey" FOREIGN KEY ("observerId") REFERENCES "User" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "EiaCost" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "subject" TEXT NOT NULL,
    "details" TEXT NOT NULL,
    "date" DATETIME NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'UNANSWERED',
    "createdBy" TEXT NOT NULL DEFAULT '┘à╪╡╪╖┘ü┘ë ┘ä╪º┘è┘é',
    "updatedBy" TEXT,
    "isDeletePending" BOOLEAN NOT NULL DEFAULT false,
    "deleteReason" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "EiaCostFile" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "name" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "costId" TEXT NOT NULL,
    CONSTRAINT "EiaCostFile_costId_fkey" FOREIGN KEY ("costId") REFERENCES "EiaCost" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "EiaInspection" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "locationName" TEXT NOT NULL,
    "latitude" REAL NOT NULL,
    "longitude" REAL NOT NULL,
    "date" DATETIME NOT NULL,
    "inspectorName" TEXT NOT NULL,
    "studyFileUrl" TEXT,
    "reportFileUrl" TEXT,
    "createdBy" TEXT NOT NULL DEFAULT '┘à╪╡╪╖┘ü┘ë ┘ä╪º┘è┘é',
    "updatedBy" TEXT,
    "isDeletePending" BOOLEAN NOT NULL DEFAULT false,
    "deleteReason" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "EiaViolation" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "type" TEXT NOT NULL,
    "date" DATETIME NOT NULL,
    "locationName" TEXT NOT NULL,
    "latitude" REAL NOT NULL,
    "longitude" REAL NOT NULL,
    "entityType" TEXT NOT NULL,
    "entityName" TEXT NOT NULL,
    "createdBy" TEXT NOT NULL DEFAULT '┘à╪╡╪╖┘ü┘ë ┘ä╪º┘è┘é',
    "updatedBy" TEXT,
    "isDeletePending" BOOLEAN NOT NULL DEFAULT false,
    "deleteReason" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "EiaViolationFile" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "name" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "violationId" TEXT NOT NULL,
    CONSTRAINT "EiaViolationFile_violationId_fkey" FOREIGN KEY ("violationId") REFERENCES "EiaViolation" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateTable
CREATE TABLE "EiaAccident" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "type" TEXT NOT NULL,
    "locationName" TEXT NOT NULL,
    "latitude" REAL NOT NULL,
    "longitude" REAL NOT NULL,
    "date" DATETIME NOT NULL,
    "description" TEXT NOT NULL,
    "reportFileUrl" TEXT,
    "createdBy" TEXT NOT NULL DEFAULT '┘à╪╡╪╖┘ü┘ë ┘ä╪º┘è┘é',
    "updatedBy" TEXT,
    "isDeletePending" BOOLEAN NOT NULL DEFAULT false,
    "deleteReason" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "NewsArticle" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "title" TEXT NOT NULL,
    "titleAr" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "contentAr" TEXT NOT NULL,
    "category" TEXT NOT NULL,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "authorId" TEXT NOT NULL,
    "authorName" TEXT NOT NULL,
    "imageUrl" TEXT,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "ReserveProfile" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "name" TEXT NOT NULL,
    "nameAr" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "descriptionAr" TEXT NOT NULL,
    "location" TEXT NOT NULL,
    "locationAr" TEXT NOT NULL,
    "area" REAL NOT NULL,
    "establishedYear" INTEGER NOT NULL,
    "imageUrl" TEXT,
    "status" TEXT NOT NULL DEFAULT 'OPEN',
    "coords" TEXT NOT NULL DEFAULT '',
    "speciesCount" INTEGER NOT NULL DEFAULT 0,
    "healthIndex" REAL NOT NULL DEFAULT 0.0,
    "statusAr" TEXT NOT NULL DEFAULT '',
    "activities" TEXT NOT NULL DEFAULT '',
    "activitiesAr" TEXT NOT NULL DEFAULT '',
    "rules" TEXT NOT NULL DEFAULT '',
    "rulesAr" TEXT NOT NULL DEFAULT '',
    "ticketPrice" TEXT NOT NULL DEFAULT '',
    "ticketPriceAr" TEXT NOT NULL DEFAULT '',
    "famousSpecies" TEXT NOT NULL DEFAULT '',
    "famousSpeciesAr" TEXT NOT NULL DEFAULT '',
    "gallery" TEXT NOT NULL DEFAULT '',
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "OpenDataDocument" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "title" TEXT NOT NULL,
    "titleAr" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "fileUrl" TEXT NOT NULL,
    "fileSize" INTEGER NOT NULL,
    "uploadDate" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "uploaderId" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'PUBLIC',
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "VisitorGuideSection" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "title" TEXT NOT NULL,
    "titleAr" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "contentAr" TEXT NOT NULL,
    "order" INTEGER NOT NULL,
    "links" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "HomepageSettings" (
    "id" TEXT NOT NULL PRIMARY KEY DEFAULT 'home-config',
    "heroTitle" TEXT NOT NULL,
    "heroTitleAr" TEXT NOT NULL,
    "heroSubtitle" TEXT NOT NULL,
    "heroSubtitleAr" TEXT NOT NULL,
    "heroAuthority" TEXT NOT NULL DEFAULT 'Red Sea Marine Authority',
    "heroAuthorityAr" TEXT NOT NULL DEFAULT '╪¼┘ç╪º╪▓ ┘à╪¡┘à┘è╪º╪¬ ╪º┘ä╪¿╪¡╪▒ ╪º┘ä╪ú╪¡┘à╪▒',
    "heroBgUrl" TEXT NOT NULL DEFAULT '/red_sea_aerial_hd.png',
    "heroBtn1Text" TEXT NOT NULL DEFAULT 'Begin Exploration',
    "heroBtn1TextAr" TEXT NOT NULL DEFAULT '╪º╪¿╪»╪ú ╪º┘ä╪º╪│╪¬┘â╪┤╪º┘ü',
    "heroBtn1Link" TEXT NOT NULL DEFAULT '/guide',
    "heroBtn2Text" TEXT NOT NULL DEFAULT 'Interactive Map',
    "heroBtn2TextAr" TEXT NOT NULL DEFAULT '╪«╪▒┘è╪╖╪⌐ ╪º┘ä┘à╪¡┘à┘è╪º╪¬',
    "heroBtn2Link" TEXT NOT NULL DEFAULT '/reserves',
    "statsJson" TEXT NOT NULL DEFAULT '[]',
    "missionTag" TEXT NOT NULL DEFAULT 'Protecting the Vision',
    "missionTagAr" TEXT NOT NULL DEFAULT '╪¡┘à╪º┘è╪⌐ ╪º┘ä╪▒╪ñ┘è╪⌐ ╪º┘ä┘à╪│╪¬┘é╪¿┘ä┘è╪⌐',
    "missionTitle" TEXT NOT NULL DEFAULT 'Commitment to the Blue Heritage',
    "missionTitleAr" TEXT NOT NULL DEFAULT '┘à┘ç┘à╪¬┘å╪º ┘ç┘è ╪╡┘ê┘å ╪º┘ä╪¬╪▒╪º╪½ ╪º┘ä╪╖╪¿┘è╪╣┘è',
    "missionDesc" TEXT NOT NULL DEFAULT 'Implementing standard ecosystem preservation practices through community engagement and regular field surveys, ensuring resource sustainability.',
    "missionDescAr" TEXT NOT NULL DEFAULT '┘å╪╣┘à┘ä ╪╣┘ä┘ë ╪¬╪╖╪¿┘è┘é ╪ú╪╣┘ä┘ë ╪º┘ä┘à╪╣╪º┘è┘è╪▒ ╪º┘ä╪»┘ê┘ä┘è╪⌐ ┘ü┘è ╪Ñ╪»╪º╪▒╪⌐ ╪º┘ä┘à╪¡┘à┘è╪º╪¬ ┘à┘å ╪«┘ä╪º┘ä ╪Ñ╪┤╪▒╪º┘â ╪º┘ä┘à╪¼╪¬┘à╪╣ ╪º┘ä┘à╪¡┘ä┘è ┘ê╪º┘ä┘à╪│┘ê╪¡╪º╪¬ ╪º┘ä┘à┘è╪»╪º┘å┘è╪⌐ ╪º┘ä┘à╪│╪¬┘à╪▒╪⌐ ┘ä╪╢┘à╪º┘å ╪º╪│╪¬╪»╪º┘à╪⌐ ╪º┘ä┘à┘ê╪º╪▒╪».',
    "missionChecklistJson" TEXT NOT NULL DEFAULT '[]',
    "missionImgUrl" TEXT NOT NULL DEFAULT '/sea_turtle_close_up_1774790619989.png',
    "missionCardTag" TEXT NOT NULL DEFAULT 'Current Status',
    "missionCardTagAr" TEXT NOT NULL DEFAULT '╪º┘ä┘ê╪╢╪╣ ╪º┘ä╪¡╪º┘ä┘è',
    "missionCardTitle" TEXT NOT NULL DEFAULT 'Peak Ecological Health Index',
    "missionCardTitleAr" TEXT NOT NULL DEFAULT '╪ú╪╣┘ä┘ë ┘à╪│╪¬┘ê┘è╪º╪¬ ╪º┘ä╪╡╪¡╪⌐ ╪º┘ä╪¿┘è╪ª┘è╪⌐',
    "highlightsTag" TEXT NOT NULL DEFAULT 'Explore the Arcana',
    "highlightsTagAr" TEXT NOT NULL DEFAULT '╪º┘â╪¬╪┤┘ü ╪▒┘ê╪º╪ª╪╣ ╪º┘ä╪╖╪¿┘è╪╣╪⌐',
    "highlightsTitle" TEXT NOT NULL DEFAULT 'Reserve Highlights',
    "highlightsTitleAr" TEXT NOT NULL DEFAULT '╪╣╪¼╪º╪ª╪¿ ╪º┘ä┘à╪¡┘à┘è╪º╪¬',
    "highlightsLinkText" TEXT NOT NULL DEFAULT 'Explore All Reserves',
    "highlightsLinkTextAr" TEXT NOT NULL DEFAULT '╪¬╪╡┘ü╪¡ ╪¼┘à┘è╪╣ ╪º┘ä┘à╪¡┘à┘è╪º╪¬',
    "highlightsLinkUrl" TEXT NOT NULL DEFAULT '/reserves',
    "highlightsJson" TEXT NOT NULL DEFAULT '[]',
    "ctaBgUrl" TEXT NOT NULL DEFAULT '/red_sea_sunset_mountains_1774790636632.png',
    "ctaTitle" TEXT NOT NULL DEFAULT 'Elevate Your Marine Perspective',
    "ctaTitleAr" TEXT NOT NULL DEFAULT '╪º╪¿╪»╪ú ╪▒╪¡┘ä╪¬┘â ┘å╪¡┘ê ╪º┘ä╪▒┘é┘è ╪º┘ä╪¿┘è╪ª┘è',
    "ctaSubtitle" TEXT NOT NULL DEFAULT 'Join the guardianship. Experience the worldΓÇÖs most precious marine territories.',
    "ctaSubtitleAr" TEXT NOT NULL DEFAULT '╪º┘å╪╢┘à ╪Ñ┘ä┘è┘å╪º ┘ü┘è ╪¡┘à╪º┘è╪⌐ ┘ê╪¬╪¼╪▒╪¿╪⌐ ╪ú╪║┘ä┘ë ╪º┘ä┘â┘å┘ê╪▓ ╪º┘ä╪¿╪¡╪▒┘è╪⌐ ╪╣┘ä┘ë ┘ê╪¼┘ç ╪º┘ä╪ú╪▒╪╢.',
    "ctaBtn1Text" TEXT NOT NULL DEFAULT 'Book a Visit',
    "ctaBtn1TextAr" TEXT NOT NULL DEFAULT '╪º╪¡╪¼╪▓ ╪▓┘è╪º╪▒╪⌐ ╪º┘ä╪ó┘å',
    "ctaBtn1Link" TEXT NOT NULL DEFAULT '#',
    "ctaBtn2Text" TEXT NOT NULL DEFAULT 'Support Conservation',
    "ctaBtn2TextAr" TEXT NOT NULL DEFAULT '╪»╪╣┘à ╪¼┘ç┘ê╪» ╪º┘ä╪╡┘ê┘å',
    "ctaBtn2Link" TEXT NOT NULL DEFAULT '#',
    "announcements" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "Observation" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "code" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "location" TEXT NOT NULL,
    "locationAr" TEXT NOT NULL,
    "observerId" TEXT NOT NULL,
    "observerName" TEXT NOT NULL,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "score" REAL NOT NULL,
    "indicators" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "MarineSpecies" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "name" TEXT NOT NULL,
    "nameAr" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "typeAr" TEXT DEFAULT '',
    "imageUrl" TEXT,
    "status" TEXT NOT NULL,
    "statusAr" TEXT DEFAULT '',
    "description" TEXT DEFAULT '',
    "descriptionAr" TEXT DEFAULT '',
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "MapLocation" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "name" TEXT NOT NULL,
    "nameAr" TEXT NOT NULL,
    "latitude" REAL NOT NULL,
    "longitude" REAL NOT NULL,
    "type" TEXT NOT NULL,
    "typeAr" TEXT DEFAULT '',
    "status" TEXT NOT NULL DEFAULT 'ACTIVE',
    "statusAr" TEXT DEFAULT '',
    "description" TEXT DEFAULT '',
    "descriptionAr" TEXT DEFAULT '',
    "imageUrl" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "EcoProgramReport" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "program" TEXT NOT NULL,
    "subType" TEXT,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "location" TEXT NOT NULL,
    "locationAr" TEXT,
    "latitude" REAL NOT NULL,
    "longitude" REAL NOT NULL,
    "observerName" TEXT NOT NULL,
    "details" TEXT,
    "attachedFileUrl" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "StrandingCase" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "location" TEXT NOT NULL,
    "locationAr" TEXT,
    "latitude" REAL NOT NULL,
    "longitude" REAL NOT NULL,
    "status" TEXT NOT NULL,
    "species" TEXT,
    "speciesAr" TEXT,
    "attachedFileUrl" TEXT,
    "description" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "Sighting" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "location" TEXT NOT NULL,
    "locationAr" TEXT,
    "latitude" REAL NOT NULL,
    "longitude" REAL NOT NULL,
    "species" TEXT NOT NULL,
    "speciesAr" TEXT,
    "count" INTEGER NOT NULL DEFAULT 1,
    "notes" TEXT,
    "observerName" TEXT NOT NULL,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "BeachSurvey" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "date" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "location" TEXT NOT NULL,
    "locationAr" TEXT,
    "latitude" REAL NOT NULL,
    "longitude" REAL NOT NULL,
    "attachedFileUrl" TEXT,
    "description" TEXT,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "SystemConfig" (
    "id" TEXT NOT NULL PRIMARY KEY DEFAULT 'global',
    "phone" TEXT NOT NULL DEFAULT '+20 65 354 8400',
    "email" TEXT NOT NULL DEFAULT 'info@redsea.gov.sa',
    "address" TEXT NOT NULL DEFAULT 'El Corniche St., Hurghada, Red Sea Governorate, Arab Republic of Egypt',
    "addressAr" TEXT NOT NULL DEFAULT '╪╖╪▒┘è┘é ╪º┘ä┘â┘ê╪▒┘å┘è╪┤╪î ╪º┘ä╪║╪▒╪»┘é╪⌐╪î ┘à╪¡╪º┘ü╪╕╪⌐ ╪º┘ä╪¿╪¡╪▒ ╪º┘ä╪ú╪¡┘à╪▒╪î ╪¼┘à┘ç┘ê╪▒┘è╪⌐ ┘à╪╡╪▒ ╪º┘ä╪╣╪▒╪¿┘è╪⌐',
    "latitude" REAL NOT NULL DEFAULT 27.2579,
    "longitude" REAL NOT NULL DEFAULT 33.8116,
    "facebookUrl" TEXT NOT NULL DEFAULT '#',
    "twitterUrl" TEXT NOT NULL DEFAULT '#',
    "youtubeUrl" TEXT NOT NULL DEFAULT '#',
    "instagramUrl" TEXT NOT NULL DEFAULT '#',
    "chamberHurghada" TEXT NOT NULL DEFAULT '+20 65 344 9150',
    "chamberMarsa" TEXT NOT NULL DEFAULT '+20 12 224 3333',
    "chamberSharm" TEXT NOT NULL DEFAULT '+20 69 366 0922',
    "updatedAt" DATETIME NOT NULL
);

-- CreateTable
CREATE TABLE "_PatrolMembers" (
    "A" TEXT NOT NULL,
    "B" TEXT NOT NULL,
    CONSTRAINT "_PatrolMembers_A_fkey" FOREIGN KEY ("A") REFERENCES "Patrol" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "_PatrolMembers_B_fkey" FOREIGN KEY ("B") REFERENCES "User" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);

-- CreateIndex
CREATE UNIQUE INDEX "User_employeeId_key" ON "User"("employeeId");

-- CreateIndex
CREATE UNIQUE INDEX "Vessel_regNumber_key" ON "Vessel"("regNumber");

-- CreateIndex
CREATE UNIQUE INDEX "_PatrolMembers_AB_unique" ON "_PatrolMembers"("A", "B");

-- CreateIndex
CREATE INDEX "_PatrolMembers_B_index" ON "_PatrolMembers"("B");

